{
  "openapi": "3.0.1",
  "info": {
    "title": "ADMS BFF api",
    "description": "API documentation for the ADMS BFF.",
    "version": "default"
  },
  "servers": [
    {
      "url": "http://australianapprenticeships.idc.hosts.testnetwork/admsapi"
    }
  ],
  "paths": {
    "/api/claim-application-approvals/aaip": {
      "get": {
        "tags": [
          "AaipClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "claimApplicationId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-application-approvals/aaip/{id}/employer": {
      "put": {
        "tags": [
          "AaipClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsEmployerMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsEmployerMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsEmployerMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsEmployerMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-application-approvals/aaip/{id}/apprentice": {
      "put": {
        "tags": [
          "AaipClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsApprenticeMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsApprenticeMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsApprenticeMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsApprenticeMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-application-approvals/aaip/{id}/anp": {
      "put": {
        "tags": [
          "AaipClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsProviderMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsProviderMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsProviderMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAaipClaimApplicationAsProviderMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-application-approvals/aaip/{id}/submission": {
      "get": {
        "tags": [
          "AaipClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "AaipClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/addresses/search": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteAddressModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteAddressModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteAddressModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AutocompleteAddressModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/addresses/validate-location": {
      "get": {
        "tags": [
          "Addresses"
        ],
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PartialAddressModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialAddressModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartialAddressModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PartialAddressModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{apprenticeId}/guardian": {
      "get": {
        "tags": [
          "ApprenticeGuardian"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApprenticeGuardian"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApprenticeGuardian"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeGuardianMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeGuardianModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{apprenticeId}/qualifications/{id}": {
      "get": {
        "tags": [
          "ApprenticeQualifications"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApprenticeQualifications"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{apprenticeId}/qualifications": {
      "get": {
        "tags": [
          "ApprenticeQualifications"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeQualificationModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeQualificationModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeQualificationModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeQualificationModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApprenticeQualifications"
        ],
        "parameters": [
          {
            "name": "apprenticeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeQualificationMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeQualificationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices": {
      "get": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeListModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeListModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeListModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeListModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Apprentices"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/search": {
      "post": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeSearchMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeSearchMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeSearchMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeSearchMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeSearchResultModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeSearchResultModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeSearchResultModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApprenticeSearchResultModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{id}": {
      "get": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeUpdateMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeUpdateMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeUpdateMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeUpdateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{id}/deceased": {
      "put": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{id}/admin-update": {
      "put": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeAdminUpdateMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeAdminUpdateMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeAdminUpdateMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeAdminUpdateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/apprentices/{id}/service-australia-apprentice-update": {
      "put": {
        "tags": [
          "Apprentices"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeServiceAustraliaUpdateMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeServiceAustraliaUpdateMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeServiceAustraliaUpdateMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ApprenticeServiceAustraliaUpdateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ApprenticeModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-application-approvals/check-security-code": {
      "post": {
        "tags": [
          "ClaimApplicationApprovals"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSecurityCodeMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSecurityCodeMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSecurityCodeMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CheckSecurityCodeMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSecurityCodeResponseModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSecurityCodeResponseModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSecurityCodeResponseModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CheckSecurityCodeResponseModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-application-approvals/reset-security-token": {
      "get": {
        "tags": [
          "ClaimApplicationApprovals"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/claim-application-approvals/summary/{claimApplicationId}/{identifier}": {
      "get": {
        "tags": [
          "ClaimApplicationApprovals"
        ],
        "parameters": [
          {
            "name": "claimApplicationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationSummaryModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationSummaryModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationSummaryModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationSummaryModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-applications": {
      "get": {
        "tags": [
          "ClaimApplicationsAdministration"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimApplicationListModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimApplicationListModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimApplicationListModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimApplicationListModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-applications/{id}": {
      "get": {
        "tags": [
          "ClaimApplicationsAdministration"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimApplicationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/claim-applications/aaip/{id}": {
      "get": {
        "tags": [
          "ClaimApplicationsAdministration"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AaipClaimApplicationModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/business-registers/{id}": {
      "get": {
        "tags": [
          "EmployerBusinessRegister"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/business-registers/(verify)": {
      "get": {
        "tags": [
          "EmployerBusinessRegister"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyBusinessRegisterModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyBusinessRegisterModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyBusinessRegisterModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyBusinessRegisterModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/business-registers": {
      "post": {
        "tags": [
          "EmployerBusinessRegister"
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessRegisterMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessRegisterModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/excel-exports/claim-applications": {
      "get": {
        "tags": [
          "ExcelExports"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/excel-exports/training-contracts": {
      "get": {
        "tags": [
          "ExcelExports"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api": {
      "get": {
        "tags": [
          "Home"
        ],
        "summary": "API Home",
        "description": "Lists available endpoints, documentation URLs, and build details.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/reference-data/financial-institutions": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "parameters": [
          {
            "name": "BSB",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialInstitutionModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialInstitutionModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialInstitutionModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FinancialInstitutionModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/reference-data/ListCodes": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "parameters": [
          {
            "name": "CodeType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StartingCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "CurrentCodesOnly",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ExactLookup",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "MaxRows",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "CurrentDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "EndDateInclusive",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferenceDataCompleteModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferenceDataCompleteModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferenceDataCompleteModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReferenceDataCompleteModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/reference-data/qualifications": {
      "get": {
        "tags": [
          "ReferenceData"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "State",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Code",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Name",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/QualificationModelPagedList"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QualificationModelPagedList"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/QualificationModelPagedList"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/QualificationModelPagedList"
                }
              }
            }
          }
        }
      }
    },
    "/api/testing-tools/claim-applications/rebuild": {
      "post": {
        "tags": [
          "TestingTools"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/testing-tools/claim-applications/clear": {
      "post": {
        "tags": [
          "TestingTools"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/testing-tools/claim-applications/seed": {
      "post": {
        "tags": [
          "TestingTools"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/tfnstats": {
      "get": {
        "tags": [
          "TFNStats"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StatusCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/tfnstats": {
      "get": {
        "tags": [
          "TFNStats"
        ],
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Keyword",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "StatusCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TFNStatsModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/training-contracts/{trainingContractId}/proof-of-identity-document": {
      "get": {
        "tags": [
          "TrainingContractProofOfIdentityDocument"
        ],
        "parameters": [
          {
            "name": "trainingContractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "tags": [
          "TrainingContractProofOfIdentityDocument"
        ],
        "parameters": [
          {
            "name": "trainingContractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              },
              "encoding": {
                "file": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DocumentModel"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TrainingContractProofOfIdentityDocument"
        ],
        "parameters": [
          {
            "name": "trainingContractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/training-contracts": {
      "get": {
        "tags": [
          "TrainingContracts"
        ],
        "summary": "Gets a page of training contracts",
        "parameters": [
          {
            "name": "Page",
            "in": "query",
            "schema": {
              "maximum": 2147483647,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "RowsPerPage",
            "in": "query",
            "schema": {
              "maximum": 100,
              "minimum": 1,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "SortBy",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Descending",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "IsDefaultSorting",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractListModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractListModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractListModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractListModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TrainingContracts"
        ],
        "summary": "Creates a new training contract",
        "requestBody": {
          "description": "Details of the training contract",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrainingContractMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrainingContractMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrainingContractMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrainingContractMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-contracts/{id}": {
      "get": {
        "tags": [
          "TrainingContracts"
        ],
        "summary": "Gets the specified training contract and associated apprentice profile",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the training contract",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "TrainingContracts"
        ],
        "summary": "Updates an existing training contract",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the training contract",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "Details of the training contract and apprentice profile",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractAggregatedMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractAggregatedMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractAggregatedMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractAggregatedMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-contracts/{id}/refresh": {
      "put": {
        "tags": [
          "TrainingContracts"
        ],
        "summary": "Refreshes the apprentice and employer names using the current apprentice and employer profiles.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the training contract",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractAggregatedModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-contracts/{trainingContractId}/checklist": {
      "get": {
        "tags": [
          "TrainingContractsChecklist"
        ],
        "parameters": [
          {
            "name": "trainingContractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractChecklistModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractChecklistModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractChecklistModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractChecklistModel"
                }
              }
            }
          }
        }
      }
    },
    "/api/training-contracts/{trainingContractId}/statuses": {
      "get": {
        "tags": [
          "TrainingContractStatuses"
        ],
        "parameters": [
          {
            "name": "trainingContractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractStatusModel"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractStatusModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractStatusModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrainingContractStatusModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TrainingContractStatuses"
        ],
        "parameters": [
          {
            "name": "trainingContractId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            },
            "application/*+xml": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTrainingContractStatusMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractStatusModel"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractStatusModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractStatusModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/TrainingContractStatusModel"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AaipClaimApplicationApprenticeAvailabilityModel": {
        "type": "object",
        "properties": {
          "emailVerified": {
            "type": "boolean",
            "nullable": true
          },
          "correctedEmail": {
            "type": "string",
            "nullable": true
          },
          "isNotAvailable": {
            "type": "boolean",
            "nullable": true
          },
          "evidenceHeldByNetworkProvider": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationApprenticeEmploymentModel": {
        "type": "object",
        "properties": {
          "isStillEmployed": {
            "type": "boolean",
            "nullable": true
          },
          "lastDateOfEmployment": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reasonForNotContinuing": {
            "type": "string",
            "nullable": true
          },
          "trainingPlanSignedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rtoName": {
            "type": "string",
            "nullable": true
          },
          "rtoAddress": {
            "$ref": "#/components/schemas/AddressModel"
          },
          "commencementDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationApprenticeSchoolingModel": {
        "type": "object",
        "properties": {
          "attendedPrimarySchool": {
            "type": "boolean",
            "nullable": true
          },
          "year12CompletionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "year12CompletionEvidenceHeldByNetworkProvider": {
            "type": "boolean"
          },
          "schoolBasedQualificationEvidenceHeldByNetworkProvider": {
            "type": "boolean"
          },
          "commencementDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "hoursEmployedPerWeek": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationBankAccountVerificationModel": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "nullable": true
          },
          "corrections": {
            "$ref": "#/components/schemas/BankAccountModel"
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationCoauthoriserVerificationModel": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "nullable": true
          },
          "corrections": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationDroughtAreaCertificateModel": {
        "type": "object",
        "properties": {
          "held": {
            "type": "boolean",
            "nullable": true
          },
          "heldByNetworkProvider": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationGeneralDetailsModel": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "nullable": true
          },
          "corrections": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationHostEmployerModel": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/AddressModel"
          },
          "contactName": {
            "type": "string",
            "nullable": true
          },
          "isGroupTrainingOrganisation": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationMatureAgedModel": {
        "type": "object",
        "properties": {
          "isMatureAgedWorker": {
            "type": "boolean",
            "nullable": true
          },
          "evidenceHeldByNetworkProvider": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "claimFormCategory": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "inPerson": {
            "type": "boolean"
          },
          "apprenticeshipId": {
            "type": "integer",
            "format": "int32"
          },
          "stateTrainingAuthorityIdentifier": {
            "type": "string",
            "nullable": true
          },
          "effectDate": {
            "type": "string",
            "format": "date-time"
          },
          "apprentice": {
            "$ref": "#/components/schemas/ClaimApplicationApprenticeModel"
          },
          "employer": {
            "$ref": "#/components/schemas/ClaimApplicationEmployerModel"
          },
          "employment": {
            "$ref": "#/components/schemas/ClaimApplicationEmploymentModel"
          },
          "bankAccount": {
            "$ref": "#/components/schemas/BankAccountModel"
          },
          "networkProvider": {
            "$ref": "#/components/schemas/ClaimApplicationNetworkProviderModel"
          },
          "types": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ClaimTypeModel"
            },
            "nullable": true
          },
          "generalDetails": {
            "$ref": "#/components/schemas/AaipClaimApplicationGeneralDetailsModel"
          },
          "bankAccountVerification": {
            "$ref": "#/components/schemas/AaipClaimApplicationBankAccountVerificationModel"
          },
          "hostEmployer": {
            "$ref": "#/components/schemas/AaipClaimApplicationHostEmployerModel"
          },
          "probationaryPeriod": {
            "$ref": "#/components/schemas/AaipClaimApplicationProbationaryPeriodModel"
          },
          "apprenticeEmployment": {
            "$ref": "#/components/schemas/AaipClaimApplicationApprenticeEmploymentModel"
          },
          "droughtAreaCertificate": {
            "$ref": "#/components/schemas/AaipClaimApplicationDroughtAreaCertificateModel"
          },
          "schoolBased": {
            "$ref": "#/components/schemas/AaipClaimApplicationSchoolBasedModel"
          },
          "matureAged": {
            "$ref": "#/components/schemas/AaipClaimApplicationMatureAgedModel"
          },
          "periodOfEmployment": {
            "$ref": "#/components/schemas/AaipClaimApplicationPeriodOfEmploymentModel"
          },
          "apprenticeAvailability": {
            "$ref": "#/components/schemas/AaipClaimApplicationApprenticeAvailabilityModel"
          },
          "employerDeclaration": {
            "$ref": "#/components/schemas/ClaimApplicationDeclarationModel"
          },
          "coauthoriserVerification": {
            "$ref": "#/components/schemas/AaipClaimApplicationCoauthoriserVerificationModel"
          },
          "apprenticeSchooling": {
            "$ref": "#/components/schemas/AaipClaimApplicationApprenticeSchoolingModel"
          },
          "providerDeclaration": {
            "$ref": "#/components/schemas/AaipClaimApplicationProviderDeclarationModel"
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "string",
            "format": "byte",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationPeriodOfEmploymentModel": {
        "type": "object",
        "properties": {
          "startDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationProbationaryPeriodModel": {
        "type": "object",
        "properties": {
          "completed": {
            "type": "boolean",
            "nullable": true
          },
          "completionDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationProviderDeclarationModel": {
        "type": "object",
        "properties": {
          "signatory": {
            "type": "string",
            "nullable": true
          },
          "signatoryTyimsLogon": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AaipClaimApplicationSchoolBasedModel": {
        "type": "object",
        "properties": {
          "for3Months": {
            "type": "boolean",
            "nullable": true
          },
          "supportedBySchool": {
            "type": "boolean",
            "nullable": true
          },
          "evidenceHeldByNetworkProvider": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AddressModel": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "nullable": true
          },
          "line2": {
            "type": "string",
            "nullable": true
          },
          "line3": {
            "type": "string",
            "nullable": true
          },
          "location": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprenticeAddressMessage": {
        "type": "object",
        "properties": {
          "streetAddress1": {
            "type": "string",
            "nullable": true
          },
          "streetAddress2": {
            "type": "string",
            "nullable": true
          },
          "streetAddress3": {
            "type": "string",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "nullable": true
          },
          "stateCode": {
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "type": "string",
            "nullable": true
          },
          "singleLineAddress": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprenticeAddressModel": {
        "type": "object",
        "properties": {
          "streetAddress1": {
            "type": "string",
            "nullable": true
          },
          "streetAddress2": {
            "type": "string",
            "nullable": true
          },
          "streetAddress3": {
            "type": "string",
            "nullable": true
          },
          "locality": {
            "type": "string",
            "nullable": true
          },
          "stateCode": {
            "type": "string",
            "nullable": true
          },
          "postcode": {
            "type": "string",
            "nullable": true
          },
          "singleLineAddress": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprenticeAdminUpdateMessage": {
        "type": "object",
        "properties": {
          "deceasedFlag": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ApprenticeAvailabilityMessage": {
        "type": "object",
        "properties": {
          "emailVerified": {
            "type": "boolean",
            "nullable": true
          },
          "correctedEmail": {
            "type": "string",
            "nullable": true
          },
          "isNotAvailable": {
            "type": "boolean",
            "nullable": true
          },
          "evidenceHeldByNetworkProvider": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprenticeEmploymentMessage": {
        "type": "object",
        "properties": {
          "isStillEmployed": {
            "type": "boolean",
            "nullable": true
          },
          "lastDateOfEmployment": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "reasonForNotContinuing": {
            "type": "string",
            "nullable": true
          },
          "trainingPlanSignedDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "rtoName": {
            "type": "string",
            "nullable": true
          },
          "rtoAddress": {
            "$ref": "#/components/schemas/AddressModel"
          },
          "commencementDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ApprenticeGuardianMessage": {
        "type": "object",
        "properties": {
          "surname": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "homePhoneNumber": {
            "type": "string",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "workPhoneNumber": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/ApprenticeAddressMessage"
          }
        },
        "additionalProperties": false
      },
      "ApprenticeGuardianModel": {
        "type": "object",
        "properties": {
          "apprenticeId": {
            "type": "integer",
            "format": "int32"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "surname": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "homePhoneNumber": {
            "type": "string",
            "nullable": true
          },
          "mobile": {
            "type": "string",
            "nullable": true
          },
          "workPhoneNumber": {
            "type": "string",
            "nullable": true
          },
          "address": {
            "$ref": "#/components/schemas/ApprenticeAddressModel"
          }
        },
        "additionalProperties": false
      },
      "ApprenticeListModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "surname": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "otherNames": {
            "type": "string",
            "nullable": true
          },
          "preferredName": {
            "type": "string",
            "nullable": true
          },
          "birthDate": {
            "type": "string",
            "format": "date-time"
          },
          "emailAddress": {
            "type": "string",
            "nullable": true
          },
          "profileType": {
            "type": "string",
            "nullable": true
          },
          "createdOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "updatedOn": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          }
        },
[...]
